<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Comerciales</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://kit.fontawesome.com/305d91946f.js" crossorigin="anonymous"></script>
</head>
<body>
<body>

	<div class="container" >
		<div class="row d-flex align-items-center">
			<div class="col col-md-10 ">
				<h1 th:text="#{comerciales}"></h1>
			</div>
			<div class="col col-md-2">
				<form action="/comerciales/crear">
					<input type="submit" th:attr="value = #{crear}">
				</form>
			</div>
		</div>
		<div>
			<hr/>
		</div>
		<div class="row d-none d-md-flex">
			<div class="col-12 col-md-1">Id</div>
			<div class="col-12 col-md-2" th:text="#{nombre}"></div>
			<div class="col-12 col-md-2" th:text="#{apellido1}"></div>
			<div class="col-12 col-md-2" th:text="#{apellido2}"></div>
			<div class="col-12 col-md-2" th:text="#{comision}"></div>
			<div class="col-12 col-md-3" th:text="#{accion}"></div>
		</div>
		<div>
			<hr/>
		</div>

		<div  th:each="comercial : ${listaComerciales}" class="row">
			<div class="col-6 d-md-none">Id</div>
			<div class="col-6 col-md-1" th:text="${comercial.id}">0</div>
			
			<div class="col-6 d-md-none" th:text="#{nombre}"></div>
			<div class="col-6 col-md-2" th:text="${comercial.nombre}">nombre</div>
			
			<div class="col-6 d-md-none" th:text="#{apellido1}"></div>
			<div class="col-6 col-md-2" th:text="${comercial.apellido1}">apellido1</div>
			
			<div class="col-6 d-md-none" th:text="#{apellido2}"></div>
			<div class="col-6 col-md-2" th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</div>
			
			<div class="col-6 d-md-none" th:text="#{comision}"></div>
			<div class="col-6 col-md-2" th:text="${comercial.comision}">comisión</div>
			
			<div class="col-6 col-md-3 d-flex justify-content-start">
				<form th:action="@{/comerciales/__${comercial.id}__}" class="">	
	    			<button type="submit">
						<i class="fa-solid fa-circle-info"></i>
	    			</button>
				</form>
				<form th:action="@{/comerciales/editar/}+${comercial.id} " style="display: inline;">
    				<button type="submit">
						<i class="fa-solid fa-pen-to-square"></i>
    				</button>
				</form>
				<form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" style="display: inline;">					
    				<button type="submit">
						<i class="fa-solid fa-trash"></i>
    				</button>
				</form>
			</div>
				<hr class="d-md-none mt-3"/>
		</div>
	</div>
</body>
</body>
</html>