<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle Cliente</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

</style>
</head>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 900px;" >
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1 th:text="#{detallecliente}"></h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
				<div style="position: absolute; left: 39%; top : 39%;">
					
						<form action="/clientes" >
							<input type="submit" th:attr="value = #{volver}" />
						</form>
					</div>
				
			</div>
		</div>
		
		<div class="clearfix">
			<hr/>
		</div>

		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{codigo}"></label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${cliente.id}" value="Id" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{nombre}"></label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${cliente.nombre}" value="Nombre" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{apellido1}"></label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${cliente.apellido1}" value="Apellido1" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{apellido2}"></label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${cliente.apellido2}" value="Apellido2" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{ciudad}"></label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${cliente.ciudad}" value="Ciudad" readonly="readonly"/>
			</div> 
		</div>
		<div style="margin-top: 6px;" class="clearfix">
			<div style="float: left;width: 50%">
				<label th:text="#{categoria}"></label>
			</div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${cliente.categoria}" value="Categoría" readonly="readonly"/>
			</div> 
		</div>
		<br>
		<br>
		<div style="float: left; width: 100%">
		<h1 th:text="#{Comerciales}"></h1>
		</div>
		<div class="clearfix">
			<hr />
		</div>
		<div>
			<div style="float: left; width: 10%" th:text="#{id}"></div>
			<div style="float: left; width: 10%" th:text="#{nombre}"></div>
			<div style="float: left; width: 10%" th:text="#{apellido1}"></div>
			<div style="float: left; width: 10%" th:text="#{apellido2}"></div>
			<div style="float: left; width: 10%" th:text="#{comision}"></div>
			<div style="float: left; width: 10%" th:text="#{numeropedidos}"></div>
			<div style="float: left; width: 10%" th:text="#{numeropedidostrimestre}"></div>
			<div style="float: left; width: 10%" th:text="#{numeropedidossemestre}"></div>
			<div style="float: left; width: 10%" th:text="#{numeropedidosanio}"></div>
			<div style="float: left; width: 10%" th:text="#{numeropedidoslustro}"></div>
		</div>
		<br>
		<div class="clearfix">
			<hr />
		</div>
		<div th:each="comercial : ${listaComerciales}" class="clearfix">
				<div style="float: left; width: 10%" th:text="${comercial.id}">0</div>
				<div style="float: left; width: 10%" th:text="${comercial.nombre}">0.0</div>
				<div style="float: left; width: 10%" th:text="${comercial.apellido1}">0.0</div>
				<div style="float: left; width: 10%" th:text="${comercial.apellido2}">0.0</div>
				<div style="float: left; width: 10%" th:text="${comercial.comision}">0.0</div>
				<div style="float: left; width: 10%" th:text="${comercial.numero_pedidos}">0.0</div>
				<div style="float: left; width: 10%" th:text="${comercial.numero_pedidos_trimestre}">0.0</div>
				<div style="float: left; width: 10%" th:text="${comercial.numero_pedidos_semestre}">0.0</div>
				<div style="float: left; width: 10%" th:text="${comercial.numero_pedidos_anio}">0.0</div>
				<div style="float: left; width: 10%" th:text="${comercial.numero_pedidos_lustro}">0.0</div>
		</div>

</div>

</body>
</html>